.catalog {
  &__header {
    /* здесь общие стили для всех страниц */
  }
  &__title {
     /* здесь общие стили для всех страниц */
  }
  &__body {
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  &__filters {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 3.5rem;
  }

  &__filters-range {
  }
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* если буду делать виджет корзины, то изменить здесь */
    margin-left: -32px;
    width: calc(100% + 36px );
    & li {
      margin-bottom: 3rem;
    }
  }
}

